* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../img/background_clouds.jpg");
  // background-image: url("../img/background_clouds.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  padding: 2rem;
  background-size: cover;
  color: $color-input-typing;
}
.hidden {
  opacity: 0;
}
