.bookmared {
  position: relative;
  width: 610px;
  height: 250px;
  background-color: $color-header1-opacity;
  margin-top: 50px;
  border-radius: 3%;
  // overflow: hidden;
}
.bookmarked__slider {
  position: relative;
  display: flex;
  align-items: center;
  height: 250px;
}
.bookmarked__btn {
  position: absolute;
  z-index: 3;
  top: 45%;

  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 100vh;
  color: $color-input-typing;
  background-color: $color-nav;
  border: none;
  transition: background 300ms ease-in-out;
  transition: color 300ms ease-in-out;
  // transform: translate(-50%, 0) rotate(270deg);
}
.bookmarked__btn:hover {
  cursor: pointer;
  color: $color-nav;
  background-color: $color-header;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.bookmarked__next {
  left: 97%;
  transform: translate(-50%, 0) rotate(270deg);
}

.bookmarked__prev {
  left: 3%;
  transform: translate(-50%, 0) rotate(90deg);
}
.bookmared__container {
  position: relative;
  width: 150px;
  height: 180px;
  flex-shrink: 0;
  background-color: $color-nav;
  color: $color-header;
  border-radius: 10%;
  margin-left: 40px;
  // margin-right: 2%;
  z-index: 2;
}

.container__city-name {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
}
.bookmarked__icon {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
.bookmarked__cancel {
  position: absolute;
  top: -2%;
  left: 100%;
  transform: translate(-100%, 0);
  color: $color-header;
  background-color: transparent;
  border: none;
  font-size: 20px;
}
.bookmarked__cancel:hover {
  cursor: pointer;
  transform: translate(-100%, 0) scale(1.2);
}
