$color-header: rgb(202, 133, 36);
$color-header1: rgb(60, 60, 121);
$color-header1-opacity: rgb(60, 60, 121, 0.75);
$color-input: rgb(159, 107, 35);
$color-nav: rgb(41, 38, 38);
$color-input-typing: rgb(196, 195, 195);
$color-input1: rgb(159, 107, 35, 0.75);
